In [ ]:
import numpy as np
import pandas as pd

In [ ]:
@The important functions inbuilt :

In [ ]:
pd.read_csv('')
#if we want to call above in future we need to save it in a variable eg. 
data=pd.read_csv('')
#to know the data type ,use type(data)

In [ ]:
data.head()
#it takes out all data values of top 5 dataset of the that file entered
#It can be custom as well if only want any specific no.of rows then enter in bracket

In [ ]:
data.tail()
#vice a versa of head

In [ ]:
data.describe()
#only work on numerical colums and rest are ignored.provides the mathematical analysis preview.
data('')
#by naming the coloum you canfetch the series of the data you wanted.
#can even fetch more seperating with columns

In [ ]:
mask=data['heading']=='value'
data[mask].shape
#it counts the no.of rows and columns in the data as matched per condition.

In [ ]:
#value_counts fetch the data series(in series)
data['value series you want to fetch'].value_counts()
#for eg. if you wrote data['winners'].value_counts() as per the data set it will print all team and occurance of matches won by them in series list form

In [ ]:
#pandas plot
import matplotlib.pyplot as plt
data[series value u want].value_counts().plot(kind='bar')  
#with this above we get a bar chart ploted of data fetched in series
#if want plot in pie then instead of bar write pie

In [ ]:
data['column'].value_counts().head(.plot(kind='bar'))
#This gave the top five teams with their index name and the value.
#"barh" is the horizontal axis bar chat where the bar chat sift the categorical data to differnet axis.

In [ ]:
.....plot(kind='pie')
#this would fetch the pie chart

In [ ]:
Histogram does the same work like bar chat but here it does for numerical data
data['column needed'].plot(kind='hist')

In [ ]:
myseries.index
#this would print the whole series in form of array
myseries.value 
# for printing the whole value array
myseries['specific index']
#if you want any specific value of inndex then just copy that index and write it in the 
[''] brackets this would be give the value specific to it

In [ ]:
#If series of two index is same then we can write it in a line and apply 
#any mathematical apalication in it eg:
data1['team1'].value_counts() + data2['team2'].value_counts()

In [ ]:
sorting- by default in the ascending order only with ()sort_values()
(data1['team1'].value_counts() + data2['team2'].value_counts()).sort_values()

for making it descending we can write sort_values(ascending=False)
#the above is not th permanet change the, input data or the previous data remians unchanged
and if you want to make it final change and replace it in the main data then
over above add- ,inplace=True ......as the dafault vcalue of inplace is False so making it true will give us the result we want .

In [ ]:
 #if you want a list arranged in ascending order like sort of city alphabetically and time just an example then

    data.sort_values(['city','data'])
    #adding mor eparameters to it if you wanted in this u want to pass only city in asc. order but 
    #date in desc. order then for it we can add [] for ascd and True false 
    data.sort_values(['city','data'],ascending=[True,False])
    3sort values are applied on seris or dataframe a s well.

In [ ]:
#drop_duplicate- same which means to remove the drop function
data.drop_duplictaes(subset=['city or any parameter'])
#.shape gives the complete shape
if you wrote two set

In [ ]:
#drop duplicate default takes the value as the first one
keep='lasts'make it re,move the last one
data.drop_duplictaes(subset=['city or any parameter',keeps='lasts']['season','winner']])

In [ ]:
  groupby() fuction has to assigned as a new value to implement
#get group feature
parameter.get_group('any specific required')
#groupby() won't return any outputr but do group formation at back which reflects at last

#grouping makes very easy for the other aaplictzions like we can directly apply mean fuvction or segeration and other
sectors.mean()     #this would return all the data values mean value in the data sheet table form ,m and here sector is justs a parameter of any assumed data set
#the full anaysis at a one go
#If any secific is required then;
sectors['Parameter or column'].mean().sort_values(ascending=False)

In [ ]:
# to fetch a single row and its data:
'parameter'.iloc[location/no. ,:]     #here blank we want the whole column

In [ ]:
to calculate the overall, we can do groupby of that particular 
#for eg : runs['batsman_runs'].sum().sort_values(ascending=False).head()
here head means it will give the above data more scored one

In [ ]:
#isin()
#Converting any index into list we can simply write
.index.tolist()
#isin function just checks whether it exits for compare the two given list and outpiuts the boolean series

In [ ]:
#Merge func
#merge of pandas is same as sql join
first table name.merge[name of the second data frame ,left_on='column specific',right_on='column spevcific']
#here column specific does nothing but the same thing in both table with respective they will merge it .
#basically common point to join both 
#to evalute the thing do it. shape to check out wheter the data is merged and rows not lost.

In [ ]:
.reset_index()         #It reset the index
.drop_duplicate(subset='',keep='')  #in space of keep we can write the data to be kept

In [ ]:
#Pivot table
#p table modls te data set to analyse it to the best.All you have to do is the give the index it will sort and make it more readable
#ANALYSIS with your convience and we need to refine the data  before making the pivot table
#eg.
dataset.pivot_table(index='',columns='',values='')# you can pass the parameter you wanted to mold as way in '' this

table.corr()        # here corr means corelation which gives output of only numerical values in rows and columns #
# We can plot the heatmap of the pivot table wiyth matplotlib
#to create so-
sns.heatmap('pivot table name for which you want to check')

In [ ]:
#RENAMING THE COLUMN
table.rename({'previous name':'new name'}) #basically w epass adict in key value pair of old and new name changed of the parameter

In [ ]:
#set_index and reset_index
#making any column as a index
data.set_index('column',inplace=True)     #here inplace is replacing & making it permanne t change making it
#reset index is the opposite of setting 
data.reset_index('column',inplace=True)

In [ ]:
Dropping missing data by using dropna()

data.dropna()   #it has several parmeters importantly on eof it is "how"
#whoes value in default is 'any'row by row it will iterate and if it goets any none value anywhere in column of that row to it will delete that row.
#by assigning the how as 'all' it will check for all missing values

Again these all are not permanent changes to make it permanent - inplace=True
# and axis parameter is by default here =0 which means it will start with row 0,
#for eg. if axis =1 means it will delete the rows having 1 missing

data.dropna(subset=['column 1','column 2'])
#or /union work so it will  remove in whichever from both found

In [ ]:
Filling missing values using fillan()

data['column'].fillna("Not specified",inplace=True)
#default axis is none so by changing it to 0,1 we can swicth to diff rows as well
data['column'].fillna(method='bfill')   # It copy paste the same value in place of missing from the front want bfill-backfill
#Similar to it,
data['column'].fillna(method='ffill')   # " " It copies from the front value and paste the same